// @font-face {
//   font-family: bebas-neue-pro, plantin;
//   font-display: block;
// }

:root {
  --primary-color: rgb(56, 56, 56);

  --primary-text: #444444;
}

.react-parallax {
  z-index: 0;
  position: relative;
  margin-top: 0;

  img {
    object-fit: cover;
  }
}

*,
h1,
h2,
h3,
h4 {
  font-family: bebas-neue-pro, sans-serif;
  font-style: normal;
}

h1 {
  color: black;
}
