header {
  position: fixed;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 0;
  z-index: 200;
}

header .primaryNav {
  padding: 20px 30px;
  border-bottom: 1px solid #00000013;
  background-color: white;
  z-index: 1;
  position: relative;
}

header .subNav {
  display: none;
  background-color: white;
  z-index: 0;
  -webkit-transition: 0.5s margin;
  transition: 0.5s margin;
}

header .subNav a {
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header #logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 40px;
  width: 40px;
  margin-right: auto;
  margin-bottom: 0;
  cursor: pointer;
  z-index: 300;
}

header #logo svg {
  width: 100%;
  height: 100%;
}

header .linkWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  -webkit-transition: 0.7s left;
  transition: 0.7s left;
  border-left: 1px solid #00000013;
  text-align: right;
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10vh;
  padding-right: 30px;
  font-size: 40px;
}

header .linkWrapper .menuLink {
  margin: 20px 0;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translate(15px, 0);
          transform: translate(15px, 0);
}

header .linkWrapper .menuLink:nth-child(1) {
  margin-top: auto;
}

header .iconWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .iconWrapper li {
  margin: 0 8px;
  opacity: 0;
  z-index: 300;
  font-size: 20px;
  -webkit-transform: translate(3px, 0);
          transform: translate(3px, 0);
}

header .iconWrapper li:nth-child(3) {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

header .burgerMenu {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 201;
  position: relative;
  height: 25px;
  width: auto;
  outline: none;
}

header .burgerMenu .burgerLines {
  background-color: var(--primary-color);
  height: 2px;
  width: 25px;
  margin: 5px 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  pointer-events: none;
}

header .menuOpen .burgerMenu div {
  margin: -1px 0px;
}

header .menuOpen .burgerMenu div:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .menuOpen .burgerMenu div:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .menuOpen .linkWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  -webkit-transition: 1.1s left;
  transition: 1.1s left;
}

header .menuOpen .iconWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  overflow: visible;
}

header .menuOpen .iconWrapper li {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  translate: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

header .menuOpen .iconWrapper li:nth-child(1) {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

header .menuOpen .menuLink {
  margin: 20px 0;
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

header .menuOpen .menuLink:nth-child(1) {
  margin-top: auto;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

header .menuOpen .menuLink:nth-child(2) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

header .menuOpen .menuLink:nth-child(3) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

header .menuOpen .menuLink:nth-child(4) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

header .menuOpen .menuLink:nth-child(5) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

@media only screen and (min-width: 700px) {
  header .subNav {
    display: block;
    border-bottom: 1px solid #00000013;
  }
  header .subNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
  header .subNav ul li {
    margin: 0;
    padding: 10px 0;
  }
  header .subNav ul a {
    font-weight: 900;
    color: pri;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
  }
  header .subNav :hover a {
    opacity: 0.5;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
  }
  header .subNav:hover a:hover {
    opacity: 1;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
  }
  header .menuOpen .linkWrapper {
    -webkit-transition: 0.8s left;
    transition: 0.8s left;
  }
  header .iconWrapper li {
    cursor: pointer;
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.scrolled .subNav {
  margin: -50px 0 0;
  z-index: 0;
  -webkit-transition: 0.5s margin;
  transition: 0.5s margin;
}
/*# sourceMappingURL=header.css.map */