.newsLetterIcon {
  margin-bottom: 20px;
  font-size: 28px;
}

.pageTransition {
  width: 100vw;
  height: 100vh;
  background: white;
  position: fixed;
  z-index: 1000;
  top: 0;
}

.pageLoaded {
  opacity: 0;
  pointer-events: none;
  transition: 0.5s opacity;
}
