.contentIndex {
  min-height: calc(100vh - 200px);
  padding-top: 50px;
  margin-top: 0px;
}

.content ul {
  max-width: 1000px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 0 10px;
  margin: auto;
  margin-bottom: 100px;
}

.content li {
  min-height: 400px;
}

.splashImage {
  height: 100vh;
  background-color: #fafafa;
}

.textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 10px;
  background-color: #fafafa;
  z-index: 0;
  max-width: 480px;
  margin: 40px auto;
}

.textBox .rightWrapper {
  height: 100vw;
  max-height: 500px;
  overflow: hidden;
}

.textBox .leftWrapper .category {
  margin-top: 30px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-size: 11px;
}

.textBox .leftWrapper h2 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.textBox .leftWrapper span {
  font-weight: bolder;
  font-size: 20px;
  margin-left: 3px;
}

.textBox .leftWrapper .description {
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 5px;
  font-size: 14px;
}

.textBox .leftWrapper a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: bold;
}

.textBox .leftWrapper svg {
  vertical-align: middle;
}

@media only screen and (min-width: 1000px) {
  .textBox {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 60px 30px 100px;
    background-color: #fafafa;
    padding: 0;
    max-width: 1600px;
  }
  .textBox .rightWrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    max-height: 650px;
  }
  .textBox .rightWrapper .react-parallax {
    height: 50vw;
  }
  .textBox .leftWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 50px;
  }
  .textBox .leftWrapper svg {
    vertical-align: middle;
  }
  .textBox:nth-child(odd) {
    direction: rtl;
  }
  .textBox:nth-child(odd) .leftWrapper {
    direction: ltr;
  }
}

.productGrid {
  display: -ms-grid;
  display: grid;
  max-width: 500px;
  margin: 20px auto;
  padding: 0 10px;
}

.productGrid .productBox {
  cursor: pointer;
  background-color: #fafafa;
  margin-bottom: 40px;
  padding: 40px;
  position: relative;
  padding-bottom: 60px;
}

.productGrid .productBox h3 {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 20px;
}

.productGrid .productBox a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  position: absolute;
  right: 80px;
}

.productGrid .productBox svg {
  vertical-align: middle;
  position: absolute;
  right: 55px;
  margin-top: 3px;
}

.productGrid .productBox:hover {
  opacity: 0.6;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

@media only screen and (min-width: 1000px) {
  .productGrid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    padding: 0 30px;
    gap: 50px;
    max-width: 1600px;
  }
}

.contactBox {
  text-align: center;
  padding: 20px 40px;
  max-width: 600px;
  margin: 50px auto 100px;
}

.contactBox .mailIcon {
  width: 80px;
  margin-bottom: 20px;
}

.contactBox h4 {
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
}

.contactBox p {
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 5px;
  font-size: 14px;
}

.contactBox input {
  border: 0;
  border-bottom: 1px solid #00000013;
  width: 100%;
  margin-bottom: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 5px;
  font-size: 14px;
  outline: none;
  max-width: 400px;
  margin-top: 20px;
}

.contactBox button {
  background-color: white;
  border: black 1px solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  padding: 5px 0;
  padding-left: 20px;
  -webkit-transition: 0.2s background;
  transition: 0.2s background;
  font-weight: 600;
}

.contactBox button svg {
  text-align: right;
  margin-left: 30px;
  margin-right: 10px;
  margin-top: -2px;
  vertical-align: middle;
}

.contactBox button:hover {
  background: #000;
  color: white;
}
/*# sourceMappingURL=index.css.map */